@import url('https://fonts.googleapis.com/css?family=Barriecito|Do+Hyeon&display=swap');

/* 
	Fonts used:
	font-family: 'Barriecito', cursive;
	font-family: 'Do Hyeon', sans-serif;
*/

body {
	background-color: black;
	color: white;
	font-size: 16px;
	font-family: 'Do Hyeon', sans-serif;
	margin-left: 2em;
	
}

h1, h2, h3 {
	font-family: 'Barriecito', cursive;
	
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

p {
margin-left: 10px;

}

.album-art {
float: left;
margin-right: 3em;
margin-left: 1em;
border: red solid 2px;
padding: 1em;
margin-bottom: 1em;
width: 6em;


}

.clear {
	clear: both;
}

.image-electronics, .image-stage-effects {
	float: left;
margin-right: 1em;
margin-left: 1em;
border: red solid 1px;
padding: 1em;
width: 15em;
}

.record-label {
color: red;
font-style: italic;
}

.track-list {
padding-left: 1em;
}

#about-photo {
	float: left;
	margin: 1em ;
	border: red solid 1px;
	padding: 1em;
	
}

#copyright {
color: red;
}

#section-about, #section-discography, #section-equipment {
border: red solid 1px;
padding: 1em;
margin: 2em;
margin-top: 1em;
margin-bottom: 1em;


}

#text-intro {
	border: solid red 2px;
	padding: 1em;
	color: red;
	background-color: rgb(63, 63, 63);
	margin: 2em;
	
	
}
/* Spacing is different from intro to discography

*/